.row-1{
    background-color: rgb(240, 246, 246);
}
.nav-1{
    margin-left: 100px;
}
.head-1{
    color:rgb(79, 172, 79);
    margin-top: 10px;
    position: relative;
    font-size: 30px;
    margin-left: 25px;
}
.sub-1{
    color:rgb(70, 68, 68) ;
    font-size: 16px;
    margin-top: 20px;
}
.para-1{
    position: absolute;
    top:50px;
    left:38px;
}
.icon{
    font-size: 35px;
    color: rgb(79, 172, 79);
    position: absolute;
    top:15px;
    
}
.head-2{
    color:rgb(255, 166, 1) ;
    font-size: 50px;
    margin-bottom: -8px;
    text-align: center;
   
    
}
.para-2{
    color: rgb(70, 68, 68);
    font-size: 30px;
    text-align: center;
    
}
.p-1{
    color: rgb(70, 68, 68);

}
.card-1{
    border: none;
    box-shadow: 20px 20px 100px grey;
    margin-top: 30px;
    border-radius: 10px;
    background-color:rgb(79, 172, 79) ;

    
}
.img-1{
    border-radius: 10px;
    
}
.card-2{
    margin-top: 30px;
    border: none;
}
.btn-1{
    border: 10px;
    margin-bottom: 30px;
    font-size: 11px;
}
.head-3{
    color:rgb(79, 172, 79) ;
    font-size: 60px;
}
.head-4{
    font-size: 60px;
}
.ca-body{
    width:570px;
}
.head-5{
    font-size: 13px;
}
.btn-2{
    margin-top: 40px;
    border-radius: 25px;
}.btn-3{
   margin-top: 40px;
   font-size: 17px;
   border-radius: 25px;
   padding: 5px;
   margin-left: 40px;
}
.card-3{
    margin-top: 20%;
    background-color: orange;
    border: none;
    border-radius: 10px;
    border-bottom: 6px solid green;
    
}

.head-6{
    text-align: center;
}
.para-3{
    color: rgb(70, 68, 68);
    text-align: center;
    font-size: 20px;
}
.div-4{
    margin-top: 60px;
}
.card-4{
   border: none;
   background-color: rgb(245, 245, 245);
   box-shadow: 20px 20px 100px grey;
   height: 300px;
   border-radius: 10px;
   
}
.img-2{
   border-radius: 10px;
   width:288px;
   border-bottom: 10px solid rgb(79, 172, 79);
  
  
}
.img-3{
    border-radius: 10px;
    width:288px;
    border-bottom: 10px solid rgb(79, 172, 79);
   
   
 }

 .img-5{
    border-radius: 10px;
    width:288px;
    height:200px;
    border-bottom: 10px solid rgb(79, 172, 79);
     
 }
 .head-7{
    text-align: center;
   color: rgb(70, 68, 68);

 }
 .para-4{
    text-align: center;
    color: rgb(79, 172, 79);
 }
 
 .delivery{
    background-color:rgb(79, 172, 79) ;
    margin-top: 40px;
    height:170px;
    
    
 }
 .card-5{
   margin-top: 25px;
    border-radius: 10px;
 }
 .icon-1{
    text-align: center;
    font-size: 25px;
  color: rgb(70, 68, 68);    
 }
 .head-8{
    text-align: center;
    color: orange;
 }

.footer{
    background-color:rgb(38, 39, 39);
    height:200px;
}
.div-5{
    margin-top: 20px;
}
.card-6{
    margin-top: 30px;
    margin-bottom: 10px;
    background-color:rgb(38, 39, 39) ;
    border-radius: 10px;
}
.head-9{
    text-align: center;
    color: rgb(127, 129, 131);
    font-size: 15px;
}
.para-5{
    text-align: center;
    color: aliceblue;
    font-size: 12px;
}

 